{{ form_start(form, {
    'attr': {
        'class': 'feedback-form'
    },
}) }}

<div class="feedback-form__inputs">
    <label class="default-input feedback-form__input">
        {{ form_widget(form.feedback.name) }}
    </label>
    <label class="default-input feedback-form__input numeric">
        {{ form_widget(form.feedback.phone) }}
    </label>
    <label class="default-input default-input_textarea feedback-form__input">
        {{ form_widget(form.feedback.comment) }}
    </label>
</div>

<label class="default-checkbox feedback-form__checkbox">
    {{ form_widget(form.feedback.agreeTerm) }}
    <span class="default-checkbox__checkbox">
        <svg>
            <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#check-icon"></use>
        </svg>
    </span>
    <span class="feedback-form__policy">
        Согласие на обработку персональных данных
    </span>
</label>

<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>

<button type="submit" class="text-button feedback-form__submit">Отправить</button>

{{ form_end(form) }}
