{# @var socialNetwork \App\Entity\SocialNetwork #}
{# @var contact \App\Entity\Contact #}

{% extends 'layouts/default.html.twig' %}

{% block meta %}
    <meta property="og:title"
          content="PARAGRAPH – это стильные и функциональные канцелярские товары для хранения документов.">
    <meta property="og:description"
          content="Наша продукция - это стильный и функциональный порядок в вашем доме и офисе. Мы осознанно отказались от производства вертикальных накопителей, поставляемых в сложенном состоянии, понимая, что они не могут гарантировать отсутствие перекосов и деформаций после их приведения в собранное состояние.">
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1>Paragraph</h1>

            <h2 style="color: #7c2d12">Контакты</h2>
            <ul>
                <li>Название: {{ contact.title }}</li>
                <li>Email: {{ contact.email }}</li>
                <li>Адрес: {{ contact.address }}</li>
                <li>
                    <ul>
                        Телефоны:
                        {% for phone in contact.phone %}
                            <li>{{ phone }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <li>ИНН: {{ contact.inn }}</li>
                <li>Координаты на карте Яндекс: {{ contact.coordinates }}</li>
            </ul>

            <h2 style="color: #7c2d12">Соц.сети</h2>
            <ul>
                {% for socialNetwork in socialNetworks %}
                    <li>{{ socialNetwork.name }} - {{ socialNetwork.link }}</li>
                {% endfor %}
            </ul>

        </div>
    </section>
{% endblock %}