{# @var socialNetwork \App\Entity\SocialNetwork #}
{# @var contact \App\Entity\Contact #}
{# @var property \App\Entity\ProductPropertyValue #}
{# @var modification \App\Entity\ProductModification #}
{# @var productBlock \App\Entity\PAgeBlock #}

{% extends 'layouts/default.html.twig' %}

{% block meta %}
    <meta property="og:title"
          content="PARAGRAPH – это стильные и функциональные канцелярские товары для хранения документов.">
    <meta property="og:description"
          content="Наша продукция - это стильный и функциональный порядок в вашем доме и офисе. Мы осознанно отказались от производства вертикальных накопителей, поставляемых в сложенном состоянии, понимая, что они не могут гарантировать отсутствие перекосов и деформаций после их приведения в собранное состояние.">
{% endblock %}

{% block content %}

    {% include 'components/sections/hero.html.twig' %}

    <section class="section" style="height: 100vh">
        <div class="container">
            <h1>Paragraph</h1>

            <h2 style="color: #7c2d12">Контакты</h2>
            <ul>
                <li>Название: {{ contact.title }}</li>
                <li>Email: {{ contact.email }}</li>
                <li>Адрес: {{ contact.address }}</li>
                <li>
                    <ul>
                        Телефоны:
                        {% for phone in contact.phone %}
                            <li>{{ phone }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <li>ИНН: {{ contact.inn }}</li>
                <li>Координаты на карте Яндекс: {{ contact.coordinates }}</li>
            </ul>

            <h2 style="color: #7c2d12">Соц.сети</h2>
            <ul>
                {% for socialNetwork in socialNetworks %}
                    <li>{{ socialNetwork.name }} - {{ socialNetwork.link }}</li>
                {% endfor %}
            </ul>

        </div>
    </section>

    <hr>

    <section>

        {% if productBlockType | length %}
            <ul>
                {% for productBlock in productBlockType %}
                    <li>Текст блока:{{ productBlock.text }}</li>
                    <li>Категория: {{ productBlock.product.category.title }}</li>
                    <li>Продукт: {{ productBlock.product.title }}</li>
                    <li><img src="{{ vich_uploader_asset(productBlock.image) | imagine_filter_cache('banner_md') }}"
                             alt=""></li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>

    <hr>

    <section class="section" style="height: 100vh">
        <div class="container">
            {% if propertyGroups | length %}
                <h3>Свойства товара <span style="color: darkred">{{ product.title }}</span></h3>
                <p>короткое описание: {{ product.shortDescription }}</p>
                <p>полное описание: {{ product.fullDescription }}</p>

                <ul>
                    {% for modification in product.modifications %}
                        <li style="color: {{ modification.color.hex }}"><a
                                    href="{{ path('app_product_modification', { id: modification.id }) }}">{{ modification.color.title }}</a>
                        </li>

                        {% for imageData in modification.gallery %}
                            <img src="{{ vich_uploader_asset(imageData.image, 'imageFile') | imagine_filter_cache('admin_thumbnail') }}"
                                 alt="картинка для модификации {{ modification.color.title }}">
                        {% endfor %}
                    {% endfor %}
                </ul>

                <ul id="contacts">
                    {% for group_name, property_group in propertyGroups %}
                        <li>{{ group_name }}</li>
                        <ul>
                            {% for property in property_group %}
                                <li>{{ property.productProperty.title }} - {{ property.value }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>
    </section>
{% endblock %}