{# @var category \App\Entity\Category #}
{# @var product \App\Entity\Product #}
{# @var productPropertyValue \App\Entity\ProductPropertyvalue #}

{% extends 'layouts/default.html.twig' %}

{% block title %}{{ product.title | striptags }} Paragraph. Цена от {{ product.price | format_currency('RUB',  {fraction_digit: 0}) }}{% endblock %}
{% block description %}Купить &quot;{{ product.title | striptags }}&quot; для офиса и дома вы можете на сайте Paragraph. Наши канцтовары помогут организовать пространство на рабочем месте.{% endblock %}

{% block meta %}
    <meta property="og:title"
          content="{{ product.title | striptags }} Paragraph. Цена от {{ product.price | format_currency('RUB',  {fraction_digit: 0}) }}">
    <meta property="og:description"
          content="Купить &quot;{{ product.title | striptags }}&quot; для офиса и дома вы можете на сайте Paragraph. Наши канцтовары помогут организовать пространство на рабочем месте.">
    <meta property="og:image"
          content="{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(product.childProducts[0].gallery[0].image, 'imageFile') }}">
{% endblock %}

{% block content %}
    {% include 'components/base/breadcrumbs.html.twig' with { breadcrumbs: [
        {title : '[Главная]', url : path('app_home_page') },
        {title :  '[Каталог]', url : path('app_catalog') },
        {title :  "[#{product.title | striptags}]" },
    ] } %}

    <section class="section section_light product-page">
        <div class="container">
            {% include "components/product/product-card.html.twig" with {product, current: product.childProducts[0], isPage: true} %}
        </div>
    </section>
{% endblock %}