{# @var category \App\Entity\Category #}
{# @var product \App\Entity\Product #}
{# @var productPropertyValue \App\Entity\ProductPropertyvalue #}

{% extends 'layouts/default.html.twig' %}

{% block title %}Paragraph | {{ product.title | striptags }}{% endblock %}

{% block meta %}
    <meta property="og:title"
          content="{{ product.title | striptags }}">
    <meta property="og:description"
          content=" {{ product.shortDescription }}">
    <meta property="og:image"
          content=" {{ vich_uploader_asset(product.childProducts[0].gallery[0].image, 'imageFile') }}">
{% endblock %}

{% block content %}
    {% include 'components/base/breadcrumbs.html.twig' with { breadcrumbs: [
        {title : '[Главная]', url : path('app_home_page') },
        {title :  '[Каталог]', url : path('app_catalog') },
        {title :  "[#{product.title | striptags}]" },
    ] } %}

    <h1 class="invisible">{{ product.title | striptags }}</h1>
    <section class="section section_light product-page">
        <div class="container">
            {% include "components/product/product-card.html.twig" with {product, current: product.childProducts[0], isPage: true} %}
        </div>
    </section>
{% endblock %}