{# @var product \App\Entity\Product #}
{#  @var modification \App\Entity\Product #}
{# @var market \App\Entity\Store #}
{# @var property \App\Entity\ProductPropertyValue #}
{#  @var marketPlace \App\Entity\Store #}
{#  @var current \App\Entity\Product #}

{% set current = product.childProducts[0] %}

<div class="product-card" id="product-{{ current.id }}">
    <div class="product-card__images">
        <div class="swiper product-card__swiper product-card-swiper">
            <div class="swiper-wrapper product-card-swiper__wrapper">
                {% for gallery in current.gallery %}
                    <div class="swiper-slide product-card-swiper__slide">
                        <picture>
                            {#                                    <source srcset="{{ vich_uploader_asset(gallery.image, 'imageFile') | imagine_filter_cache('medium') }}" type="image/webp"> #}
                            <source srcset="{{ vich_uploader_asset(gallery.image, 'imageFile') | imagine_filter_cache('medium') }}"
                                    type="image/jpeg">
                            <img src="{{ vich_uploader_asset(gallery.image, 'imageFile') | imagine_filter_cache('medium') }}"
                                 alt="{{ current.title }}" loading="lazy">
                        </picture>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="swiper product-card__thumbs product-card-thumbs">
            <div class="swiper-wrapper product-card-thumbs__wrapper">
                {% for gallery in current.gallery %}
                    <div class="swiper-slide product-card-thumbs__slide">
                        <picture>
                            {#                                    <source srcset="{{ vich_uploader_asset(gallery.image, 'imageFile') | imagine_filter_cache('medium') }}" type="image/webp"> #}
                            <source srcset="{{ vich_uploader_asset(gallery.image, 'imageFile') | imagine_filter_cache('medium') }}"
                                    type="image/jpeg">
                            <img src="{{ vich_uploader_asset(gallery.image, 'imageFile') | imagine_filter_cache('medium') }}"
                                 alt="{{ current.title }}" loading="lazy">
                        </picture>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="product-card__body">
        <h3 class="product-card__heading">{{ product.category.title }}</h3>
        <h4 class="product-card__title">{{ current.color.modernTitle }}</h4>
        <p class="product-card__description">
            {{ product.shortDescription }}
        </p>

        {% if product.childProducts | length %}
            <div class="product-card__colors product-colors">
                <div class="product-colors__header">
                    <span class="product-colors__title">Цвет:</span>
                    <span class="product-colors__current">{{ current.color.title }}</span>
                </div>
                <ul class="product-colors__list">
                    {% for modification in product.childProducts %}
                        <li class="product-colors__item{% if loop.index == 1 %} product-colors__item_active{% endif %}"
                            style="--color: {{ modification.color.hex }}"></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <ul class="product-card__dropdowns">
            <li class="dropdown product-card__dropdown product-card-dropdown" data-dropdown>
                <div class="dropdown__header product-card-dropdown__header" data-open-dropdown>
                    <span class="title-16-18 product-card-dropdown__title">Описание</span>
                    <span class="dropdown__btn"></span>
                </div>
                <div class="dropdown__inner product-card-dropdown__inner" data-dropdown-inner>
                    <div class="product-card-dropdown__content" data-dropdown-content>
                        {{ product.fullDescription }}
                    </div>
                </div>
            </li>
            {% for groupName, productPropertyValues in propertyGroups(product) %}
                <li class="dropdown product-card__dropdown product-card-dropdown" data-dropdown>
                    <div class="dropdown__header product-card-dropdown__header" data-open-dropdown>
                        <span class="title-16-18 product-card-dropdown__title">{{ groupName }}</span>
                        <span class="dropdown__btn"></span>
                    </div>
                    <div class="dropdown__inner product-card-dropdown__inner" data-dropdown-inner>
                        <div class="product-card-dropdown__content" data-dropdown-content>
                            <ul>
                                {% for property in  productPropertyValues %}
                                    <li>
                                        {{ property.productProperty.title }} - {{ property.value }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="product-card__offer product-card-offer">
            <span class="product-card-offer__title">Купить товары оптом</span>
            <button class="filled-button product-card-offer__btn">
                <span>Оставить заявку</span>
                <svg class="filled-button__bg">
                    <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#button-bg"></use>
                </svg>
            </button>
        </div>
        <div class="product-card__marketplaces product-card-marketplaces">
            <span class="product-card-marketplaces__title">
                Наша продукция на сайтах партнеров
            </span>
            <ul class="product-card-marketplaces__list">
                <li class="product-card-marketplaces__item">
                    <a class="product-card-marketplaces__link" href=""
                       data-market="wb">wb</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<ul>
    {% for product in products %}
        <li>Название категории: {{ product.category.title }}</li>
        <li>Короткое описание: {{ product.shortDescription }}</li>
        <li>Расширенное описание: {{ product.fullDescription }}</li>
        <li>
            <h5 style="color: red">Свойства товара:</h5>
            <ul>
                {% for groupName, productPropertyValues in propertyGroups(product) %}
                    <span>{{ groupName }}:</span>
                    <ul>
                        {% for property in  productPropertyValues %}
                            <li>
                                {{ property.productProperty.title }} - {{ property.value }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        </li>
        <li>
            <h5 style="color: red">Модификации товара</h5>
            <ul>
                {% for modification in product.childProducts %}
                    <li>ID для запроса галереи: {{ modification.id }}</li>
                    <li>Артикул: {{ modification.sku }}</li>
                    <li>Модное название: {{ modification.color.modernTitle ?? modification.color.title }}</li>
                    <li>Цвет: {{ modification.color.title }}</li>
                    <li style="color: {{ modification.color.hex }}">Цвет HEX: {{ modification.color.hex }}</li>
                    <li>
                        <h5 style="color: red">Маркетплейсы:</h5>
                        <ul>
                            {% for marketPlace in modification.marketPlaces %}
                                <li><a href="{{ marketPlace.link }}">{{ marketPlace.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li>
                        <h5 style="color: red">Галерея:</h5>
                        <ul>
                            {% for gallery in modification.gallery %}
                                <img src="{{ vich_uploader_asset(gallery.image, 'imageFile') | imagine_filter_cache('middle_banner') }}"
                                     alt="{{ modification.title }}">
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
