<header class="header{% if isError %} _error{% endif %}" data-header>
    <div class="container header__container">
        {% if isHome %}
            <div class="logo header__logo">
                <svg>
                    <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#header-logo"></use>
                </svg>
            </div>
        {% else %}
            <a href="{{ path('app_home_page') }}" class="logo header__logo">
                <svg>
                    <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#logo"></use>
                </svg>
            </a>
        {% endif %}

        {% if not isError  %}

            <div class="header__menu">
                <nav class="header__nav nav-header">
                    <ul class="nav-header__list">
                        <li class="default-link nav-header__item">
                            <a href="/#about" class="nav-header__link">О нас</a>
                        </li>
                        <li class="default-link nav-header__item">
                            <a href="/#catalog" class="nav-header__link">Каталог{% if products is defined and products | length %} (<span class="numeric">{{ products | length }}</span>){% endif %}</a>
                        </li>
                        <li class="default-link nav-header__item">
                            <a href="/#reviews" class="nav-header__link">Отзывы</a>
                        </li>
                        <li class="default-link nav-header__item">
                            <a href="/#contacts" class="nav-header__link">Контакты</a>
                        </li>
                    </ul>
                </nav>

                {% if contact.phone %}
                    <a href="tel:{{ contact.phone[0] | filterPhoneMask }}"
                       class="default-link numeric header__phone">{{ contact.phone[0] }}</a>
                {% endif %}

                <button class="default-button header__button header__button_feedback" data-open-modal="feedback">
                    <span>Оставить заявку</span>
                    <svg class="default-button__bg">
                        <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#button-bg"></use>
                    </svg>
                </button>
                <button class="default-button header__button header__button_menu" data-menu-button></button>
            </div>

        {% endif %}
    </div>
</header>
