<div class="mobile-header" data-mobile-menu>
    <div class="mobile-header__inner" data-mobile-inner>
        <ul class="mobile-header__nav">
            <li class="mobile-header__item" data-nav-link="about">
                <a href="/#about" class="mobile-header__link">О нас</a>
            </li>
            <li class="mobile-header__item" data-nav-link="catalog">
                <a href="{{ path('app_catalog') }}"
                   class="mobile-header__link">Каталог{% if products is defined and products | length %} ({{ products | length }}){% endif %}</a>
            </li>
            <li class="mobile-header__item" data-nav-link="reviews">
                <a href="/#reviews" class="mobile-header__link">Отзывы</a>
            </li>
            <li class="mobile-header__item" data-nav-link="contacts">
                <a href="/#contacts" class="mobile-header__link">Контакты</a>
            </li>
            {% if contact.phone is defined %}
                <li class="mobile-header__item mobile-header__item_phone numeric">
                    <a href="tel:{{ contact.phone[0] | filterPhoneMask }}">{{ contact.phone[0] }}</a>
                </li>
            {% endif %}
        </ul>


        <button class="default-button mobile-header__button" data-open-modal="feedback">
            <span>Оставить заявку</span>
            <svg class="default-button__bg">
                <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#button-bg"></use>
            </svg>
        </button>
    </div>
</div>