{# @var category \App\Entity\Category #}
{# @var product \App\Entity\Product #}
{# @var productPropertyValue \App\Entity\ProductPropertyvalue #}

{% extends 'layouts/default.html.twig' %}

{% block content %}
    <ul>
        {% for category in catalog %}
            <li>Категория: {{ category.title }}</li>
            <li>
                <ul>
                    {% for product in category.products %}
                        <li><a href="{{ path('app_product', {slug: product.slug}) }}">Продукт: {{ product.title }}</a></li>
                        <li>
                            <ul>
                                Свойчтва:
                                {% for group in propertyGroups(product) %}
                                    <li>
                                        <ul>
                                            {% for productPropertyValue in group %}
                                                <li>{{ productPropertyValue.productProperty.title }}
                                                    - {{ productPropertyValue.value }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}