<section class="section section_light about" id="about" data-nav-section>
    <div class="about__wrapper">
        <div class="container">
            <div class="about__grid">
                <div class="about__content">
                    <h2 class="section__heading">о нас</h2>
                    <h3 class="about__title">
                        PARAGRAPH&nbsp;&mdash; это стильные и&nbsp;функциональные канцелярские
                        товары для хранения документов
                    </h3>
                    <div class="about__description">
                        <span>Наша продукция поможет организовать порядок в вашем доме и офисе:</span>
                        <ul>
                            <li>
                                - папки регистраторы с резинками и вертикальные накопители для хранения документов, семейных архивов и каталогов;
                            </li>
                            <li>
                                - коробки с крышками для хранения документов, небольших канцтоваров и других мелочей, которые важно не потерять.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about__grid about__grid_images">
                <div class="about__image about__image_left">
                    <img src="{{ asset('build/images/about-1.jpg') }}"
                         alt="Папка регистратор" loading="lazy">
                </div>
                <div class="about__image about__image_right">
                    <img src="{{ asset('build/images/about-2.jpg') }}"
                         alt="Лоток для бумаг" loading="lazy">
                </div>
            </div>
        </div>
        <div class="about__bg"></div>
        <div class="about__lines">
            {% set items = ['надежные', 'стильные', 'функциональные', 'качественные', 'доступные', 'надежные', 'стильные', 'функциональные', 'качественные', 'доступные', 'надежные', 'стильные', 'функциональные', 'качественные', 'доступные'] %}
            <div class="about__line about-line">
                <div class="about-line__item">
                    {% for item in items %}
                        <span>{{ item }}</span>
                    {% endfor %}
                </div>
                <div class="about-line__item">
                    {% for item in items %}
                        <span>{{ item }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="about__line about-line about-line_reverse">
                <div class="about-line__item">
                    {% for item in items %}
                        <span>{{ item }}</span>
                    {% endfor %}
                </div>
                <div class="about-line__item">
                    {% for item in items %}
                        <span>{{ item }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>