<section class="section contacts" id="contacts" data-nav-section>
    <div class="container contacts__container">

        <div class="contacts__form">
            <h2 class="section__heading contacts__heading">
                Связаться с нами
            </h2>
            <p class="contacts__feedback-text">
                Если у вас остались вопросы, оставьте заявку
            </p>
            <div class="contacts__form-wrapper" data-form="footer" data-response-popup-name="response"></div>
        </div>

        {% if contact.coordinates is defined %}
            <div class="contacts__map-container">
                <div class="contacts__map" id="map" data-coords="{{ contact.coordinates }}"
                     data-icon="{{ asset('build/images/map-icon.svg') }}"></div>
                <address>
                    <ul class="contacts__baloon" itemscope itemtype="http://schema.org/Organization">
                        {% if contact.title %}
                            <li class="contacts__item contacts-item contacts-item_title" itemprop="name">
                                {{ contact.title }}
                            </li>
                        {% endif %}
                        {% if contact.inn %}
                            <li class="contacts__item contacts-item">
                            <span class="contacts-item__value">
                                ИНН <span class="numeric" itemprop="vatID">{{ contact.inn }}</span>
                            </span>
                            </li>
                        {% endif %}
                        {% if contact.address %}
                            <li class="contacts__item contacts-item">
                                <a href="https://yandex.ru/maps/-/CDeqfUok" target="_blank"
                                   class="contacts-item__value">
                                    <span itemprop="address">{{ contact.address | raw }}</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if contact.email %}
                            <li class="contacts__item contacts-item">
                                <a href="mailto:{{ contact.email }}"
                                   class="contacts-item__value">
                                    <span itemprop="email"> {{ contact.email }}</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if contact.phone %}
                            <li class="contacts__item contacts-item">
                                <a href="tel:{{ contact.phone[0] | filterPhoneMask }}"
                                   class="contacts-item__value numeric">
                                    <span itemprop="telephone">{{ contact.phone[0] }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </address>
            </div>
        {% endif %}
    </div>
</section>