{# @var block \App\Entity\PageBlock #}

<section class="section section_light hero">
    <div class="container hero__container">
        <div class="swiper hero__swiper hero-swiper">
            <div class="swiper-wrapper hero-swiper__wrapper">
                {% for block in blocks %}
                    <div class="swiper-slide hero-swiper__slide hero-slide">
                        <div class="hero-slide__top">
                            <div class="hero-slide__header">
                                <h3 class="hero-slide__heading">{{ block.product.title | striptags }}</h3>
                                <h4 class="hero-slide__title">{{ block.product.color.modernTitle }}</h4>
                            </div>
                            <div class="hero-slide__content">
                                <p class="hero-slide__description">{{ block.text }}</p>
                                <a href="/#catalog" class="text-button hero-slide__link">подробнее</a>
                            </div>
                        </div>
                        <div class="hero-slide__image">
                            <img class="fade" src="{{ vich_uploader_asset(block.image) }}"
                                 alt="картинка для продукта - {{ block.product.title }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="default-swiper-navigation hero__navigation">
            {% include 'components/base/swiper-button.html.twig' %}
            <div class="default-swiper-pagination hero__pagination"></div>
            {% include 'components/base/swiper-button.html.twig' with { direction: 'next' } %}
        </div>
        <span class="hero__bg"></span>
    </div>
</section>