<section class="section section_light interior">
    <div class="container">
        <h2 class="section__heading">изделия в интерьере</h2>
        <div class="interior__header">
            <h3 class="interior__title">
                Стильные канцелярские товары могут стать ярким акцентом в&nbsp;вашем интерьере
            </h3>
            <p class="interior__description">
                Наша продукция&nbsp;&mdash; это стильный и&nbsp;функциональный порядок в&nbsp;вашем доме и&nbsp;офисе.
                Мы&nbsp;осознанно отказались от&nbsp;производства вертикальных накопителей, поставляемых в&nbsp;сложенном
                состоянии, понимая, что они не&nbsp;могут гарантировать отсутствие перекосов и&nbsp;деформаций после их&nbsp;приведения
                в&nbsp;собранное состояние.
            </p>
        </div>
        <div class="swiper interior__swiper interior-swiper">
            <div class="swiper-wrapper interior-swiper__wrapper">
                {% for block in blocks %}
                    <div class="swiper-slide interior-swiper__slide interior-slide">
                        <div class="interior-slide__header">
                            <span class="interior-slide__count">
                                ({% if loop.index < 10 %}
                                    0{{ loop.index }}
                                {% else %}
                                    {{ loop.index }}
                                {% endif %})
                            </span>
                            <span class="interior-slide__title">{{ block.text }}</span>
                        </div>
                        <div class="interior-slide__image">
                            <img src="{{ vich_uploader_asset(block.image) | imagine_filter_cache('medium') }}" alt="{{ block.text }}" loading="lazy">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="default-swiper-navigation interior__navigation">
            {% include 'components/base/swiper-button.html.twig' %}
            {% include 'components/base/swiper-button.html.twig' with { direction: 'next' } %}
        </div>
    </div>
</section>