<section class="section_dark manufacture" id="manufacture">
    <div class="container">
        <h2 class="section__heading">
            наше производство
        </h2>
        <div class="manufacture__content">
            <div class="manufacture__block manufacture__block_first">
                <div class="manufacture__image">
                    <picture>
                        {# <source srcset="{{ asset('build/images/manufacture-1.jpg') }}" type="image/webp"> #}
                        <source srcset="{{ asset('build/images/manufacture-1.jpg') }}"
                                type="image/jpeg">
                        <img src="{{ asset('build/images/manufacture-1.jpg') }}"
                             alt="фото с производства" loading="lazy">
                    </picture>
                </div>
                <div class="manufacture__text-block">
                    <div class="manufacture__image manufacture__image_small">
                        <picture>
                            {# <source srcset="{{ asset('build/images/manufacture-2.jpg') }}" type="image/webp"> #}
                            <source srcset="{{ asset('build/images/manufacture-2.jpg') }}"
                                    type="image/jpeg">
                            <img src="{{ asset('build/images/manufacture-2.jpg') }}"
                                 alt="фото с производства" loading="lazy">
                        </picture>
                    </div>
                    <p>
                        Наша продукция&nbsp;&mdash; это стильный и&nbsp;функциональный порядок в&nbsp;вашем доме и&nbsp;офисе.
                    </p>
                </div>
            </div>
            <div class="manufacture__block manufacture__block_text">
                <p>
                    PARAGRAPH&nbsp;&mdash; это стильные и&nbsp;функциональные канцелярские товары для хранения
                    документов.
                </p>
                <p>
                    PARAGRAPH&nbsp;&mdash; это стильные и&nbsp;функциональные канцелярские товары для хранения
                    документов. PARAGRAPH&nbsp;&mdash; это стильные и&nbsp;функциональные канцелярские товары. PARAGRAPH&nbsp;&mdash;
                    это стильные и&nbsp;функциональные канцелярские товары для хранения документов.
                </p>
            </div>
            <div class="manufacture__block manufacture__block_second">
                <div class="manufacture__text-block">
                    <div class="manufacture__image manufacture__image_vertical">
                        <picture>
                            {# <source srcset="{{ asset('build/images/manufacture-3.jpg') }}" type="image/webp"> #}
                            <source srcset="{{ asset('build/images/manufacture-3.jpg') }}"
                                    type="image/jpeg">
                            <img src="{{ asset('build/images/manufacture-3.jpg') }}"
                                 alt="фото с производства" loading="lazy">
                        </picture>
                    </div>
                    <p>
                        Наша продукция&nbsp;&mdash; это стильный и&nbsp;функциональный порядок в&nbsp;вашем доме и&nbsp;офисе.
                    </p>
                </div>
                <div class="manufacture__text-block">
                    <div class="manufacture__image manufacture__image_medium">
                        <picture>
                            {# <source srcset="{{ asset('build/images/manufacture-4.jpg') }}" type="image/webp"> #}
                            <source srcset="{{ asset('build/images/manufacture-4.jpg') }}"
                                    type="image/jpeg">
                            <img src="{{ asset('build/images/manufacture-4.jpg') }}"
                                 alt="фото с производства" loading="lazy">
                        </picture>
                    </div>
                    <p>
                        Наша продукция&nbsp;&mdash; это стильный и&nbsp;функциональный порядок в&nbsp;вашем доме и&nbsp;офисе.
                    </p>
                </div>
            </div>
            <div class="manufacture__block manufacture__block_third">
                <div class="manufacture__text-block">
                    <div class="manufacture__image">
                        <picture>
                            {# <source srcset="{{ asset('build/images/manufacture-5.jpg') }}" type="image/webp"> #}
                            <source srcset="{{ asset('build/images/manufacture-5.jpg') }}"
                                    type="image/jpeg">
                            <img src="{{ asset('build/images/manufacture-5.jpg') }}"
                                 alt="фото с производства" loading="lazy">
                        </picture>
                    </div>
                    <p>
                        PARAGRAPH&nbsp;&mdash; это стильные и&nbsp;функциональные канцелярские товары для хранения
                        документов.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>