<section class="section section_light paragraph">
    <div class="container">
        <h2 class="paragraph__title">
            paragraph
        </h2>
        <div class="paragraph__swiper-container">
            <div class="swiper paragraph__swiper paragraph-swiper">
                <div class="swiper-wrapper paragraph-swiper__wrapper">
                    <div class="swiper-slide paragraph-swiper__slide">
                        <img src="{{ asset('build/images/about-2.jpg') }}" alt="">
                    </div>
                    <div class="swiper-slide paragraph-swiper__slide">
                        <img src="{{ asset('build/images/about-2.jpg') }}" alt="">
                    </div>
                    <div class="swiper-slide paragraph-swiper__slide">
                        <img src="{{ asset('build/images/about-2.jpg') }}" alt="">
                    </div>
                    <div class="swiper-slide paragraph-swiper__slide">
                        <img src="{{ asset('build/images/about-2.jpg') }}" alt="">
                    </div>
                    <div class="swiper-slide paragraph-swiper__slide">
                        <img src="{{ asset('build/images/about-2.jpg') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="default-swiper-navigation paragraph__navigation">
                {% include 'components/swiper-button.html.twig' %}
                <div class="default-swiper-pagination paragraph__pagination"></div>
                {% include 'components/swiper-button.html.twig' with { direction: 'next' } %}
            </div>
        </div>
    </div>
</section>