<section class="section section_light wholesale">
    <div class="container wholesale__container">
        <div class="wholesale__body">
            <h2 class="section__heading">Оптовые закупки</h2>
            <h3 class="wholesale__title">
                Премиальные канцтовары для оптовых покупателей
                по&nbsp;низким ценам
            </h3>
            <p class="wholesale__description">
                Любые канцелярские товары нашего производства вы&nbsp;можете приобрести оптом в&nbsp;любом количестве, перейдя в&nbsp;каталог или заполнив форму обратной связи. Мы&nbsp;сами свяжемся с&nbsp;вами
                и&nbsp;уточним все детали заказа.
            </p>
            <a href="{{ path('app_catalog') }}" class="filled-button wholesale__btn">
                <span>в каталог</span>
                <svg class="wholesale__btn-icon">
                    <use xlink:href=" {{ asset('build/images/svg/sprite.svg') }}#arrow-icon"></use>
                </svg>
                <svg class="filled-button__bg">
                    <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#button-bg"></use>
                </svg>
            </a>
        </div>
        <div class="wholesale__img">
            <picture>
                {# <source srcset="{{ asset('build/images/manufacture-1.jpg') }}" type="image/webp"> #}
                <source srcset="{{ asset('build/images/wholesale.webp') }}"
                        type="image/jpeg">
                <img src="{{ asset('build/images/wholesale.webp') }}"
                     alt="Оптовые закупки" loading="lazy">
            </picture>
        </div>
    </div>
</section>