{# @var socialNetwork \App\Entity\SocialNetwork #}
{# @var contact \App\Entity\Contact #}

<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <link sizes="16x16" rel="icon" type="image/svg" href="{{ asset('favicon/16x16.svg') }}">
    <link sizes="32x32" rel="icon" type="image/svg" href="{{ asset('favicon/32x32.svg') }}">
    <link sizes="57x57" rel="icon" type="image/svg" href="{{ asset('favicon/57x57.svg') }}">
    <link sizes="60x60" rel="icon" type="image/svg" href="{{ asset('favicon/60x60.svg') }}">
    <link sizes="72x72" rel="icon" type="image/svg" href="{{ asset('favicon/72x72.svg') }}">
    <link sizes="76x76" rel="icon" type="image/svg" href="{{ asset('favicon/76x76.svg') }}">
    <link sizes="96x96" rel="icon" type="image/svg" href="{{ asset('favicon/96x96.svg') }}">
    <link sizes="114x114" rel="icon" type="image/svg" href="{{ asset('favicon/114x114.svg') }}">
    <link sizes="120x120" rel="icon" type="image/svg" href="{{ asset('favicon/120x120.svg') }}">
    <link sizes="128x128" rel="icon" type="image/svg" href="{{ asset('favicon/128x128.svg') }}">
    <link sizes="144x144" rel="icon" type="image/svg" href="{{ asset('favicon/144x144.svg') }}">
    <link sizes="152x152" rel="icon" type="image/svg" href="{{ asset('favicon/152x152.svg') }}">
    <link sizes="167x167" rel="icon" type="image/svg" href="{{ asset('favicon/167x167.svg') }}">
    <link sizes="180x180" rel="icon" type="image/svg" href="{{ asset('favicon/180x180.svg') }}">
    <link sizes="196x196" rel="icon" type="image/svg" href="{{ asset('favicon/196x196.svg') }}">

    <title>{% block title %}Paragraph{% endblock %}</title>
    <meta name="description"
          content="{% block description %}Официальный сайт канцелярских товаров премиального уровня для хранения документов. Продуманный дизайн, высококачественные материалы, удовольствие при использовании.{% endblock %}">
    {% block meta %}{% endblock %}
    <link rel="canonical" href=" {{ app.request.uri }}"/>
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="PARAGRAPH | Cайт канцелярских товаров премиального уровня"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>

{% set isHome = isHome | default(false) %}
{% set isError = isError | default(false) %}
{% set contact = contact() %}
{% set socialNetworks = socialNetworks() %}

<body {% if isError %}class="_error"{% endif %}>

{% block header %}
    {% include 'components/base/header.html.twig' %}
{% endblock %}

<main class="main">
    {% block content %}{% endblock %}
</main>

{% block footer %}
    {% include 'components/base/footer.html.twig' %}
{% endblock %}

{% block modals %}
    {% include 'components/base/mobile-header.html.twig' %}
    {% include 'components/popups/feedback-popup.html.twig' %}
    {% include 'components/popups/response-popup.html.twig' %}
{% endblock %}

{{ encore_entry_script_tags('app') }}

{% block javascripts %}
{% endblock %}
</body>
</html>
